p{
    font-style:normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.2;

    ;
}

.page{
    width: 1240px;
    height: 1080px;
    margin: auto;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.photo{
    float: right;
}

.left{
    float: left;
}

.section{
    margin: auto;
    font-size:16px; 
}

.left-column{
    float: left;
    
}

h2{
    font-size: 30px;
    color: blue;
    border-bottom: 3px solid cornflowerblue;

}